*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::placeholder{
    font-size: 1rem;
    color: #383838;
}
body{
    height: 100vh;
}
.main{
    background-color: #ffffff;
    height: 100%;
    padding: 1rem;
}
.form-Container{
    width: 100%;
    height: 60%;
}
.signIn, .enterpassword{
    margin-top: 1rem;
    font-weight: 500;
}
#email, #password{
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
.noAcc{
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #383838;
    font-weight: 450;
}
.style{
    color: #0067b8;
}
.btn-Container{
    margin-top: 2rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: right;
}
.btn{
    height: 100%;
    width: 7rem;
    background-color: #0067b8;
    color: white;
    font-size: 1rem;
    border: none;
}
.signIn-Options{
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    border: 1px solid #383838;
    padding-left: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.key{
    width: 1.8rem;
    aspect-ratio: 1/1;
}
.text{
    font-size: 1rem;
}
@media only screen and (min-width:345px) {

    
}

@media only screen and (min-width:450px){
    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form-Container, .signIn-Options{
        max-width: 25rem;
    }
}

@media only screen and (min-width:600px){
    .main{
        justify-content: center;
        background: linear-gradient(288deg, #fde1ff6b, #e0e7ff7a, #e0f9ff96, #fffae9bd);
    }
    .form-Container{
        max-width: 28rem;
        height: 28rem;
        background-color: white;
        padding: 3rem;
        box-shadow: 0 2px 4px 0 #7272729f;
    }
    .signIn-Options{
        height: 3.5rem;
        margin-top: 1rem;
        max-width: 28rem;
        background-color: white;
        border: none;
        box-shadow: 0 2px 4px 0 #7272729f;
    }
}